@media screen,print {
    .executed-payments-list {
        font-size: 10px;
        font-weight: bold;
        page-break-after: always;

        & th {
            background-color: lightgrey;
            -webkit-print-color-adjust: exact;
        }

        & tbody,
        .title {
            text-align: center;
        }
    
        & table {
            width: 100%;
        }
    
        & .title {
            font-size: 10px;
        }
    
        & .frame {
            border: 0.5px solid black;
        }
    }
}

@media screen {
    .executed-payments-list {
        max-width: 760px;
        display: none;
    }
}