@media screen,
print {

    .multiple-cash-receipt {
        font-weight: bold;
        max-width: 400px;
        page-break-after: always;

        & th {
            text-align: left;
        }
        & td {
            text-align: right;
        }
    
        & .title {
            text-align: center;
        }
    
        & table {
            width: 100%;
        }
    
        & .frame {
            border: 1px solid black;
        }
    
        & .body {
            line-height: 2em;
        }
    }
}

@media screen {
    .multiple-cash-receipt {
        max-width: 400px;
        display: none;
    }
}