$theme-colors: ("primary": #7dc356,
	"danger": #d51b1b);

$green: #7dc356;

@import "~bootstrap-v4-rtl/scss/bootstrap-rtl";

@media print {
	.rtl th,
	[dir="rtl"] th {
		text-align: center;
	}
}

.rtl .form-check-input,
[dir="rtl"] .form-check-input {
	margin-right: 0;
}

.form-check {
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: inherit
}