body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl !important;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.pac-container.pac-logo.hdpi, .pac-container.pac-logo {
  z-index: 1100;
}

.row{
  flex-wrap: nowrap !important;
}

.map {
  margin: 20px;
  position: relative;
  max-width: 95%;
  max-height: 400px;
}

.central-loader-fullscreen {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100px;
  height: 100px;
  z-index: 99999;
}

.react-dual-listbox {
  height: 400px;
}

.document-upload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1;
  background-color: white;
  text-align: center;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  border: #e5e5e5 dashed 1px;
}

.delete-document {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
}