
body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl !important;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pac-container.pac-logo.hdpi, .pac-container.pac-logo {
  z-index: 1100;
}

.row-nowrap{
  flex-wrap: nowrap !important;
}

/* to be deleted after Loader component is done*/
.central-loader-fullscreen {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100px;
  height: 100px;
  z-index: 99999;
}

.react-dual-listbox {
  height: 400px;
}

.document-upload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1;
  background-color: white;
  text-align: center;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  border: #e5e5e5 dashed 1px;
}

.delete-document {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

/*Loader Component*/
.loader-full-screen, .loader-full-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.loader-full-section {
  position: absolute;
}

.loader-full-screen .cover, .loader-full-section .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}
/*End of Loader Component*/
.chip {
  background-color: lightgray;
  display: inline-block;
  margin:10px 5px;
  padding: 3px 15px;
  border-radius: 6px;
  cursor: pointer;
}
.chip-active {
  background-color: #7dc356;
}

.primary-color {
  color: #7dc356
}
.navbar-nav a{
  color: #fff !important;
}
.checkbox-label, label {
  margin-right: 20px;
}
.btn-primary {
  color: #fff;
}
.btn-cancel-prev {
  background-color: #fff;
  border-color: #7dc356;
  color: #7dc356;

}
.btn-submit-next {
  background-color: #7dc356;
  color: #fff;
}
.full-width{
  width: 100%;
  margin: auto;
}

.error div{ 
  border-color: #d51b1b;
}

.customer-form-label {
  margin-right: 0px;
  padding-right: 0px;
  display: block;
  text-align: right;
  font-size: 16px;
}

.place-holder-color::placeholder {
  color: #7dc356;
  text-decoration: underline;
}
.custom-card-header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  & .big-button {
      width: 170px;
      height: 50px;
  }
}
.dashed-line {
  border-top: 1px dashed #e5e5e5;
}
.custom-card-body {
  display: flex;
  margin: 30px;
}

.dropdown-container {
  display: flex;
  border: 1px #e5e5e5 solid;
  border-radius: 5px;
  padding-left: 10px;
  & .dropdown-label {
      margin: 0px;
      background: #E5E5E5;
      padding: 10px 15px;
  }
  & .dropdown-select {
      height: auto;
      border: 0px;
      cursor: pointer;
  }
}

.breadcrumbs {
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-size: 12px;
  text-align: right;
  color: #6e6e6e;

}


.breadcrumbs .item {
  display: inline-block;
  margin: 5px 10px;
  
  
}

.breadcrumbs  .item:first-child::before {
  display: none;
}

.breadcrumbs .item::before {
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 10px;
  content: "\f104";
  color: #afafaf;
  margin: 0 12px;
}
.tab{
  font-weight: bold;
  font-size: 15px ;
  text-align: center;
  width: 15%;
}