body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl !important;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.pac-container.pac-logo.hdpi, .pac-container.pac-logo {
  z-index: 1100;
}

.row{
  flex-wrap: nowrap !important;
}

.map {
  margin: 20px;
  position: relative;
  max-width: 95%;
  max-height: 400px;
}

/* to be deleted after Loader component is done*/
.central-loader-fullscreen {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100px;
  height: 100px;
  z-index: 99999;
}

.react-dual-listbox {
  height: 400px;
}

.document-upload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1;
  background-color: white;
  text-align: center;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  border: #e5e5e5 dashed 1px;
}

.delete-document {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

/*Loader Component*/
.loader-full-screen, .loader-full-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.loader-full-section {
  position: absolute;
}

.loader-full-screen .cover, .loader-full-section .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}
/*End of Loader Component*/

.chip {
  background-color: lightgray;
  display: inline-block;
  margin:10px 5px;
  padding: 3px 15px;
  border-radius: 6px;
  cursor: pointer;
}
.chip-active {
  background-color: #7dc356;
}

.primary-color {
  color: #7dc356
}

.refresh-logo-navbar {
  background-color: #7dc356;
  display: flex;
  width: 80px;
  height: 75px;
  justify-content: center;
}
.info-navbar {
  background-color: #131848;
  color: #fff;
  padding: 0px 50px;
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-evenly;
}