@media print {
    .total-written-checks-print {
        max-width: 624px;
        direction: rtl;
        text-align: right;
        font-weight: bold;
        line-height: 2em;
        & .check {
            border: 3px solid black;
            padding: 30px;
            margin-bottom: 30px;
            page-break-inside: avoid;
        }

        & .title {
            text-align: center;
        }

        & table {
            margin-right:auto;
            text-align: left;
            width: 100%;
            padding-left: 100px;
        }
    }
}

@media screen {
    .total-written-checks-print {
        max-width: 624px;
        display: none;
    }
}