@media screen,
print {
	.loans-briefing-2 {
		font-weight: bold;
		text-align: center;
		padding: 10px 5px;
		page-break-after: always;
		direction: rtl;

		& tbody {
			page-break-inside: avoid;
		}

		& table {
			border-collapse: separate;
			border-spacing: 2px;
			width: 100%;
			text-align: center;

			th {
				text-align: center;
			}
		}

		& table.body th {
			background-color: #e3e3e3;

			.bg-white {
				background-color: #fff;
			}
		}

		& table.body td.bg-grey {
			background-color: #e3e3e3;
		}

		& table.body td,
		table.body th {
			-webkit-print-color-adjust: exact;
			border: 1px solid black;

			&.empty {
				border: none;
				background: #fff;
				width: 2% !important;
			}
		}

		& table.body tr.empty {
			border: none;
			background: #fff;
			height: 4px !important;
		}

		& .horizontal-line {
			border: 0;
			border-bottom: 1px solid black;
			width: 80%;
		}
	}
}

@media screen {
	.loans-briefing-2 {
		display: none;
	}
}