@font-face {
  font-family: 'lts-icons';
  src: url('../fonts/lts-icons/lts-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lts {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lts-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lts-checkbox-checked:before {
  content: '\e900';
}
.lts-checkbox-unchecked:before {
  content: '\e901';
}
.lts-radio-checked:before {
  content: '\e902';
}
.lts-radio-unchecked:before {
  content: '\e903';
}
.lts-editIcon {
  &:before {
    content: '\e904';
  }
}
.lts-view {
  &:before {
    content: '\e905';
  }
}
.lts-changeOfficer {
  &:before {
    content: '\e906';
  }
}
.lts-customers {
  &:before {
    content: '\e907';
  }
}
.lts-minus {
  &:before {
    content: '\e908';
  }
}
.lts-closeIcon {
  &:before {
    content: '\e909';
  }
}
.lts-deactivate-user {
  &:before {
    content: '\e90a';
  }
}
.lts-removeIcon .path1 {
  &:before {
    content: '\e90b';
    color: rgb(47, 47, 47);
  }
}
.lts-removeIcon .path2 {
  &:before {
    content: '\e90c';
    margin-left: -1em;
  }
}
.lts-removeIcon .path3 {
  &:before {
    content: '\e90d';
    margin-left: -1em;
  }
}
.lts-reschedule {
  &:before {
    content: '\e90e';
  }
}
.lts-download {
  &:before {
    content: '\e90f';
  }
}
.lts-company {
  &:before {
    content: '\e910';
  }
}
.lts-applications {
  &:before {
    content: '\e911';
  }
}
.lts-bulk-loan-applications-review {
  &:before {
    content: '\e912';
  }
}
.lts-bulk-loan-applications-approval {
  &:before {
    content: '\e913';
  }
}
.lts-bulk-application-creation {
  &:before {
    content: '\e914';
  }
}
.lts-issued-loans {
  &:before {
    content: '\e915';
  }
}
.lts-cib {
  &:before {
    content: '\e916';
  }
}
.lts-change-source-of-fund {
  &:before {
    content: '\e917';
  }
}
.lts-i-score {
  &:before {
    content: '\e918';
  }
}
.lts-download-big-file {
  &:before {
    content: '\e919';
  }
}
.lts-arrow-right {
  &:before {
    content: '\e91a';
  }
}
.lts-arrow-left {
  &:before {
    content: '\e91b';
  }
}