// font
@import "font";

// lts icon font
@import "lts-icons";

$green: #7dc356;

@media print {
	.rtl th,
	[dir="rtl"] th {
		text-align: center;
	}
}

.rtl .form-check-input,
[dir="rtl"] .form-check-input {
	margin-right: 0;
}

select.form-control {
	padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: inherit
}

.form-check>.form-check-input,
input[type=checkbox],
input[type=radio] {
	appearance: none;
	vertical-align: text-top;
	font-size: 1rem;
	cursor: pointer;
	outline: none !important;
	padding: 0;
	margin: 0;

	&[type=checkbox]::after,
	input[type=checkbox]::after {
		font-family: "lts-icons" !important;
		content: "\e901";
		color: #495057;
	}

	&[type=checkbox]:checked::after,
	input[type=checkbox]:checked::after {
		content: "\e900";
		color: $green;
	}

	&[type=checkbox]:disabled::after,
	input[type=checkbox]:disabled::after {
		cursor: default;
		color: #ced4da;
	}

	&[type=radio]::after,
	input[type=radio]::after {
		font-family: "lts-icons" !important;
		content: "\e903";
		color: #495057;
	}

	&[type=radio]:checked::after,
	input[type=radio]:checked::after {
		content: "\e902";
		color: $green;
	}

	&[type=radio]:disabled::after,
	input[type=radio]:disabled::after {
		cursor: default;
		color: #ced4da;
	}
}

.breadcrumbs {
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-size: 12px;
  text-align: right;
  color: #6e6e6e;
}

.breadcrumbs .item {
  display: inline-block;
  margin: 5px 20px;
}

.arrow {
  border: solid #afafaf;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 2px;
}

.arrow-left {
	@extend .arrow;
  transform: rotate(135deg);
}

/*Loader Component*/
.loader-full-screen,
.loader-full-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.loader-full-section {
  position: absolute;
}

.loader-full-screen .cover,
.loader-full-section .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}

/*End of Loader Component*/

.full-width {
  width: 100%;
  margin: auto;
}

