// bootstrap selected imports
@import "bootstrap-rtl";

// lts icon font
@import "lts-icons";

.form-check>.form-check-input,
input[type=checkbox],
input[type=radio] {
	appearance: none;
	vertical-align: text-top;
	font-size: 1rem;
	cursor: pointer;
	outline: none !important;
	padding: 0;
	margin: 0;

	&[type=checkbox]::after,
	input[type=checkbox]::after {
		font-family: "lts-icons" !important;
		content: "\e901";
		color: #495057;
	}

	&[type=checkbox]:checked::after,
	input[type=checkbox]:checked::after {
		content: "\e900";
		color: $green;
	}

	&[type=checkbox]:disabled::after,
	input[type=checkbox]:disabled::after {
		cursor: default;
		color: #ced4da;
	}

	&[type=radio]::after,
	input[type=radio]::after {
		font-family: "lts-icons" !important;
		content: "\e903";
		color: #495057;
	}

	&[type=radio]:checked::after,
	input[type=radio]:checked::after {
		content: "\e902";
		color: $green;
	}

	&[type=radio]:disabled::after,
	input[type=radio]:disabled::after {
		cursor: default;
		color: #ced4da;
	}
}