$icomoon-font-family: 'lts-icons' !default;
$icomoon-font-path: 'fonts' !default;

$lts-warning: '\e942';
$lts-view: '\e941';
$lts-user: '\e940';
$lts-trash: '\e93f';
$lts-terrorists: '\e93e';
$lts-search: '\e93d';
$lts-save: '\e93c';
$lts-rollback: '\e93b';
$lts-role: '\e93a';
$lts-reschedule: '\e939';
$lts-remove: '\e938';
$lts-refresh: '\e937';
$lts-radio-unchecked: '\e936';
$lts-radio-checked: '\e935';
$lts-printer: '\e934';
$lts-principal-range: '\e933';
$lts-plus: '\e932';
$lts-permissions: '\e931';
$lts-pay-penalty: '\e930';
$lts-pay-installment: '\e92f';
$lts-no-branches-found: '\e92e';
$lts-minus: '\e92d';
$lts-location: '\e92c';
$lts-loan-uses: '\e92b';
$lts-loan-products: '\e92a';
$lts-legal-actions: '\e929';
$lts-issued-loans: '\e928';
$lts-image-placeholder: '\e927';
$lts-i-score: '\e926';
$lts-home: '\e925';
$lts-group: '\e924';
$lts-exchange: '\e923';
$lts-encoding-files: '\e922';
$lts-edit: '\e921';
$lts-early-payment: '\e920';
$lts-download-big-file: '\e91f';
$lts-download: '\e91e';
$lts-deactivate-user: '\e91d';
$lts-deactivate-doc: '\e91c';
$lts-customers: '\e91b';
$lts-coins: '\e91a';
$lts-close: '\e919';
$lts-clearance: '\e918';
$lts-cib: '\e917';
$lts-checkbox-unchecked: '\e916';
$lts-checkbox-checked: '\e915';
$lts-check-circle: '\e914';
$lts-change-source-of-fund: '\e913';
$lts-cancel-penalty: '\e912';
$lts-calculation-method: '\e911';
$lts-calculation-formulas: '\e910';
$lts-business-specialities: '\e90f';
$lts-business-activities: '\e90e';
$lts-bulk-loan-applications-review: '\e90d';
$lts-bulk-loan-applications-approval: '\e90c';
$lts-bulk-application-creation: '\e90b';
$lts-buildings: '\e90a';
$lts-branches: '\e909';
$lts-branch-location: '\e908';
$lts-branch-areas: '\e907';
$lts-blocking: '\e906';
$lts-back: '\e905';
$lts-assign-product-to-branch: '\e904';
$lts-arrow-right: '\e903';
$lts-arrow-left: '\e902';
$lts-applications: '\e901';
$lts-add: '\e900';

