$icomoon-font-family: 'lts-icons' !default;
$icomoon-font-path: 'fonts' !default;

$lts-trash: '\e947';
$lts-printer: '\e91c';
$lts-image-placeholder: '\e91d';
$lts-no-branches-found: '\e91e';
$lts-refresh: '\e91f';
$lts-home: '\e920';
$lts-deactivate-doc: '\e921';
$lts-location: '\e922';
$lts-back: '\e923';
$lts-cancel-penalty: '\e924';
$lts-check-circle: '\e925';
$lts-clearance: '\e927';
$lts-early-payment: '\e92a';
$lts-warning: '\e92b';
$lts-add: '\e92d';
$lts-group: '\e92f';
$lts-pay-installment: '\e930';
$lts-pay-penalty: '\e931';
$lts-permissions: '\e932';
$lts-plus: '\e933';
$lts-role: '\e934';
$lts-rollback: '\e935';
$lts-search: '\e936';
$lts-save: '\e937';
$lts-terrorists: '\e938';
$lts-legal-actions: '\e939';
$lts-branches: '\e93a';
$lts-business-specialities: '\e93b';
$lts-business-activities: '\e93c';
$lts-loan-uses: '\e93d';
$lts-user: '\e93e';
$lts-principal-range: '\e93f';
$lts-branch-areas: '\e940';
$lts-encoding-files: '\e941';
$lts-blocking: '\e942';
$lts-assign-product-to-branch: '\e943';
$lts-calculation-method: '\e944';
$lts-calculation-formulas: '\e945';
$lts-loan-products: '\e946';
$lts-arrow-right: '\e91a';
$lts-arrow-left: '\e91b';
$lts-download-big-file: '\e919';
$lts-i-score: '\e918';
$lts-issued-loans: '\e915';
$lts-cib: '\e916';
$lts-change-source-of-fund: '\e917';
$lts-bulk-loan-applications-review: '\e912';
$lts-bulk-loan-applications-approval: '\e913';
$lts-bulk-application-creation: '\e914';
$lts-applications: '\e911';
$lts-company: '\e910';
$lts-reschedule: '\e90e';
$lts-download: '\e90f';
$lts-minus: '\e908';
$lts-close: '\e909';
$lts-deactivate-user: '\e90a';
$lts-remove: '\e90b';
$lts-edit: '\e904';
$lts-view: '\e905';
$lts-exchange: '\e906';
$lts-customers: '\e907';
$lts-checkbox-checked: '\e900';
$lts-checkbox-unchecked: '\e901';
$lts-radio-checked: '\e902';
$lts-radio-unchecked: '\e903';
