@media screen, print {
  .CollectionStatement {
    font-size: 12px;
    font-weight: bold;
    direction: rtl;
    page-break-after: always;
    & thead tr th.styled {
      background-color: lightgrey;
      -webkit-print-color-adjust: exact;
      border: 1px solid black;
    }
    ​ & tbody tr td {
      border: 1px solid black;
    }
    ​ & .headtitle {
      font-size: 14px;
    }
    ​ & table {
      width: 100% !important;
      text-align: right;
    }
    ​ & thead.report-header {
      display: table-header-group;
    }
    & tr th {
      text-align: right;
    }
    & tr td {
      text-align: right;
    }
  }
}
@media screen {
  .CollectionStatement {
    max-width: 700px;
    display: none;
  }
}
