@media screen,
print {
  .early-payment-print {
    font-size: 9px;
    font-weight: bold;
    margin: 8px;
    page-break-after: always;

    & th {
      background-color: lightgrey;
      -webkit-print-color-adjust: exact;
    }

    & tbody,
    .title {
      text-align: center;
    }

    & table {
      width: 100%;
    }

    & .bold {
      font-weight: bold;
    }

    & .title {
      font-size: 10px;
    }

    & .title2 {
      font-size: 16px;
    }


    & .tablestyle {
      margin-top: 10px;
      margin-bottom: 10px;

      & td {
        direction: ltr;
      }
    }

    & .border {
      border: 0.5px solid black;
    }

    & .frame {
      border: 0.5px solid black;
      padding: 2px;
      display: inline-block;
    }

    & .due {
      background-color: lightgrey;
      -webkit-print-color-adjust: exact;
    }
  }
}

@media screen {
  .early-payment-print {
    display: none;
  }
}