.drop-down-list {
    position: absolute;
    text-align: right;
    width: 170px;
    left: 0px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    z-index: 2;
    div {
        padding: 10px;
        cursor: pointer;
        span{
            margin-right: 10px;
        }
    }
    div:hover {
        background-color: #edffe2;
        border: 1px #7dc356 solid;
        border-radius: inherit;
        color: #7dc356;
    }
}

