@media screen, print {
  .payments-done {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 10px 5px;
    page-break-after: always;
    direction: rtl;

    & tbody {
      page-break-inside: avoid;
    }

    & .tbodyborder {
      box-shadow: 0 0 0 1px black;
    }

    & .headtitle {
      font-size: 12px;
      font-weight: bolder;
    }

    & table {
      width: 100%;
    }

    & thead.report-header {
      display: table-header-group;
    }

    & .frame {
      border: 0.5px solid black;
    }

    & .gray {
      background-color: lightgrey;
      -webkit-print-color-adjust: exact;
    }

    & .horizontal-line {
      border-bottom: 1px solid black;
    }
  }
}

@media screen {
  .payments-done {
    max-width: 624px;
    font-size: 8px;
    display: none;
  }
}
