@media screen, print {
  .ClientGuaranteedLoans {
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    direction: rtl;
    page-break-after: always;
    width: 100%;
    & tbody {
      page-break-inside: avoid;
    }
    ​ & .tbodyborder {
      box-shadow: 0 0 0 1px black;
    }
    ​ & .headtitle {
      font-size: 12px;
      font-weight: bolder;
    }
    ​ & table {
      width: 100%;
    }
    ​ ​ & thead.report-header {
      display: table-header-group;
    }
    ​ ​ & .frame {
      border: 0.5px solid black;
    }
    ​ & .gray {
      background-color: lightgrey;
      -webkit-print-color-adjust: exact;
    }
    ​ & .border {
      border-bottom: 1px solid black;
    }
    & .report-container{
      width: 100%;
    }
  }
}
@media screen {
  .ClientGuaranteedLoans {
    max-width: 700px;
    display: none;
  }
}
