.legal-warning {
  -webkit-print-color-adjust: exact;
  page-break-after: always;

  h4 {
    font-size: 28px !important;
		font-weight: bold;
  }

  * {
    font-family: Arial, Helvetica, sans-serif !important;
  }

  .text-underline {
    text-decoration: underline;
  }

  article {
    column-gap: 20px;

    p,
    span {
      font-size: 23px;
    }

    aside {
      height: fit-content;
      min-width: 25%;
      min-height: 10rem;
      border-radius: 30px;

      .lawyer-info {
        span {
          display: inline-block;
          margin-bottom: 5px;
        }
      }
    }
  }
}