@media screen,
print {
    .unpaid-inst {
        font-size: 18px;
        margin: 20px;
        direction: rtl;
        font-weight: bold;
        page-break-after: always;
        font-family: Arial;
        text-align: right;
        & .header-table {
            width: 100%;
            text-align: center;
            border-spacing: 0.5em;
            border-collapse: separate; 
            & th {
                width: 33%;
            }
        } 
        & .repeated-table {
            margin-top: 10px;
            & th {
                border: 1px solid black;
                padding: 2px;
                font-weight: 600;
            } 
            & td {
                border: 1px solid black;
                padding: 2px;
            }
        }
        & .horizontal-line {
            margin-top: 5px;
            margin-bottom: 10px;
            border: 0px;
            border-bottom: 2px solid black;
        }
        .frame {
            margin: 0px 3px;
            border: 1px solid black;
        }
        & .grey-background {
            background: #C0C0C0;
            border: 1px solid #C0C0C0;
        }
    }
}

@media screen {
    .unpaid-inst {
        max-width: 624px;
        font-size: 8px;
        display: none;
    }
}