@media screen, print {
    .follow-up-statment {
        font-size: 9px;
        font-weight: bold;
        page-break-after: always;
        
        & tbody, .title {
            text-align: center;
        }

        & table {
            width: 100%;
            /* border-collapse: collapse; */
        }


        & .title2 {
            font-size: 16px;
        }


        & .titleborder {
            border: 1.5px solid black;
        }

        & .margin {
            margin: 10px;
        }
        & .table-content {
            margin: 10px;
            & th, td {
                border: 1px solid black;
            }
        }

        & .frame {
            border: 0.5px solid black;
            padding: 2px;
            display: inline-block;
        }
        }
}
@media screen {
    .follow-up-statment {
        max-width: 700px;
        display: none;
    }
}