.branch-data-form{
    width: 80%;
    text-align: right;
    padding-right: 3rem;
}
.branch-data-group{
    margin: 20px;
    padding: 20px;
  }
  .branch-data-label{
    font-weight: bold; 
    font-size: 12px;
  }
  .map-btn{
    color: #7dc356;
    width: 100%;
    border-color: #e5e5e5;
    margin-top: 1rem;
    text-align: right;
    background-color: #ffffff;
  }