.header-cards-parent {
    text-align: right;
    margin: 0px 50px;
}
.cards-container {
    display: flex;
    margin-top: 20px;
}
.card-item {
    flex: 1;
    display: flex;
    border: solid 1px #e5e5e5;
    border-radius: 6px;
    padding: 15px 50px;
    cursor: pointer;
}

.card-item img{
    margin-left: 20px;
}
.card-item h5{
    margin-bottom: 0px;
}
.card-item p{
    font-weight: normal;
    font-size: 14px;
    color: #6e6e6e;
    margin-bottom: 0px;
    margin-top: 5px;
}

.card-item.active {
    border-color: #7dc356;
    color: #7dc356;
    background-color: #f7fff2;
    p {
        color: #7dc356;  
    }
}
.card-item:not(:last-of-type) {
    margin-left: 20px;
}