@media screen,
print {
    .leaked-customers {
        text-align: right;
        font-size: 8px;
        line-height: 1.5em;
        page-break-after: always;
        font-family: Arial;
				font-weight: bold;
        & table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 2px;
            text-align: center;
            & th {
              border: 1px black solid;
            }
            & td {
              border: 1px black solid;
              padding: 5px;
            }
            & .noborder {
              border: 0px;
              padding-bottom: 20px;
            }
        }
    }
}

@media screen {
    .leaked-customers {
        max-width: 624px;
        display: none;
    }
}