@media screen, print {
  .report {
    page-break-after: always;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;

    & tbody {
      page-break-inside: avoid;
    }

    & table {
      width: 100%;
    }

    & thead.report-header {
      display: table-header-group;
    }

    & tbody tr td {
      border: 0.5px solid black;
    }
  }
}

@media screen {
  .report {
    max-width: 624px;
    font-size: 8px;
    display: none;
  }
}
