@media screen, print {
  .contract-container {
    page-break-after: always;
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    padding: 3rem 6rem;
    th,
    td {
      border: 1px solid black;
			text-align: center;
    }
    table {
      border-spacing: 10px;
    }
  }
}

@media screen {
  .contract-container {
    max-width: 624px;
    display: none;
    & .main {
      border: 1px black solid;
      padding: 30px;
      margin: 20px;
    }
  }
}
