.clickable-action {
    color: #7dc356;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.actions-list {
    position: absolute;
    z-index: 4;
    left: 70px;
    top: 30px;
    padding: 10px 0px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    font-size: 14px;
    .scrollable {
        overflow: auto;
        max-height: 650px;
    }
    & .item {
        width: 200px;
        display: flex;
        padding: 10px;
        cursor: pointer;
        &:hover{
            background-color: #7dc356;  
            color: #fff;
        }
    }
}
.age-range-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    & .item {
        width: 200px;
        height: 60px;
        border: 1px #e5e5e5 solid;
        color: #6e6e6e;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.active {
            color: #7dc356;
            border-color: #7dc356;
        }
    }:hover {
        color: #7dc356;
        border-color: #7dc356;
    }
}