@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
body {
    margin: 0;
    height: 100%;
    font-family: 'Cairo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl !important;
}
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pac-container.pac-logo.hdpi, .pac-container.pac-logo {
  z-index: 1100;
}

.row-nowrap{
  display: flex;
  flex-wrap: nowrap !important;
}

/* to be deleted after Loader component is done*/
.central-loader-fullscreen {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100px;
  height: 100px;
  z-index: 99999;
}

.react-dual-listbox {
  height: 400px;
}

.document-upload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1;
  background-color: #ffffff;
  text-align: center;
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  justify-content: center;
  align-items: center;
  border: #e5e5e5 dashed 1px;
  opacity: 1;
}

.document-actions {
  justify-content: space-between;
  height: 40px;
  width: 250px;
  padding-right:10px ;
  padding-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.document-action-icon{
  width: 20px;
  height: 20px;
}
/*Loader Component*/
.loader-full-screen, .loader-full-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.loader-full-section {
  position: absolute;
}

.loader-full-screen .cover, .loader-full-section .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}
/*End of Loader Component*/
.chip {
  background-color: lightgray;
  display: inline-block;
  margin:10px 5px;
  padding: 3px 15px;
  border-radius: 6px;
  cursor: pointer;
}
.chip-active {
  background-color: #7dc356;
}

.pr2ry-color {
  color: #7dc356
}
.navbar-nav a{
  color: #fff !important;
}
.checkbox-label, label {
  margin-right: 20px;
}
.btn-primary {
  color: #fff;
}
.btn-cancel-prev {
  background-color: #fff;
  border-color: #7dc356;
  color: #7dc356;

}
.btn-submit-next {
  background-color: #7dc356;
  color: #fff;
}
.full-width{
  width: 100%;
  margin: auto;
}

.error div{ 
  border-color: #d51b1b;
}

.customer-form-label {
  margin-right: 0px;
  padding-right: 0px;
  display: block;
  text-align: right;
  font-size: 16px;
}

.place-holder-color::placeholder {
  color: #7dc356;
  text-decoration: underline;
}
.custom-card-header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  & .big-button {
      width: 170px;
      height: 50px;
  }
}
.dashed-line {
  border-top: 1px dashed #e5e5e5;
}
.custom-card-body {
  display: flex;
  margin: 30px;
}

.dropdown-container {
  display: flex;
  border: 1px #e5e5e5 solid;
  border-radius: 5px;
  padding-left: 10px;
  & .dropdown-label {
      margin: 0px;
      background: #E5E5E5;
      padding: 10px 15px;
  }
  & .dropdown-select {
      height: auto;
      border: 0px;
      cursor: pointer;
  }
}

.breadcrumbs {
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-size: 12px;
  text-align: right;
  color: #6e6e6e;

}


.breadcrumbs .item {
  display: inline-block;
  margin: 5px 10px;
  
  
}

.breadcrumbs  .item:first-child::before {
  display: none;
}

.breadcrumbs .item::before {
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 10px;
  content: "\f104";
  color: #afafaf;
  margin: 0 12px;
}
.tab{
  font-weight: bold;
  font-size: 15px ;
  text-align: center;
  width: 15%;
}

.input-group {
  & .input-group-append {
    background: #E5E5E5;
    direction: rtl;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    & .btn {
      border: 1px solid #E5E5E5;
      min-width: 140px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #000;
    }
  }
}
.modal-header {
  align-items: center;
  & .close {
    margin: 0px;
  }
}

.horizontal-table {
  & tr td:first-child {
    width: 300px;
  }
}
.data-form{
  text-align: right;
}
.data-group{
  padding: 20px 10px;
}

.data-label{
  font-weight: bold; 
  margin: 10px 0;
  font-size: 14px;
  text-align: right;
}
.data-check-label{
  font-weight: bold; 
  font-size: 14px;
}
.selected-check{
  color: #7dc356;
}
.data-check-group{
  padding: 20px 10px;
  margin: 40px 0;
}
.warning-container {
  border: 1px solid #edb600;
  color: #edb600;
  background-color: #fffaeb;
  display: flex;
  padding: 20px 40px;
  border-radius: 6px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  & .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
  }
  & .submit {
    background: #000;
    color: #fff;
    padding: 5px 40px;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  & .cancel {
    background: #d51b1b;
    color: #fff;
    padding: 5px 40px;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
  }
}
.swal-table {
  width: 100%;
  border: 1px #7dc356 solid;
  & th{
    color: #7dc356;
  }
  & td {
    background-color: #f7fff2;
  }
}
.uploaded-image {
  // padding-top: 35px;
   width: 250px;
   height: 200px;
   object-fit: fill;
}
.invalid-image{
  opacity: 0.7;
 pointer-events: all;
}
.invalid-document {
  position: absolute;
  padding: 5px;
  top:120px;
  left: 120px;
  border-radius: 10px;
  cursor: not-allowed;
}

.sort-icons {
  vertical-align: middle;
  margin-right: 5px;
}

ip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 30px; 
  color: #fff;
  font-size: 14px;
  min-width: 100px;
  font-weight: bold;
  height: 30px;
  &.outline {
      background-color: #fff;
  }
  &.under-review {
      border: 1px solid #ed7600;
      color: #ed7600;
  }
  &.created {
      border: 1px solid #2a3390;
      color: #2a3390;
  }
  &.reviewed {
      border: 1px solid #edb600;
      color: #edb600;
  }
  &.second-review {
    border: 1px solid #edb679;
    color: #edb679;
  }
  &.third-review {
    border: 1px solid #f4c109;
    color: #f4c109;
  }
  &.approved {
      border: 1px solid #009bed;
      color: #009bed;
  }
  &.rejected {
      border: 1px solid #d51b1b;
      color: #d51b1b;
  }
  &.late {
      background-color: #d51b1b;
  }
  &.paid {
      background-color: #7DC356;
  }
  &.unpaid {
      background-color: #009bed;
  }
  &.rescheduled {
      background-color: #2a3390;
  }
  &.partially-paid {
      background-color: #edb600;
  }
  &.cancelled {
      background-color: gray;
  }
  &.pending {
      background-color: #edb600;
      color: #fff;
  }
  &.canceled {
      background-color: #d51b1b;
      color: #fff;
  }
}

@media print {
    * {
      font-size: 14px;
    }
		.print-none {
			display: none !important;
    }
  }
  