@media screen, print {
  .early-payment-receipt {
    font-size: 40px !important;
    font-weight: 600;
    color: #000;
    page-break-after: always;
    width: 100%;
    padding: 20px;

    & tbody,
    .title {
      text-align: center;
      font-size: 40px !important;
    }

    & table {
      width: 100%;
    }

    & .frame {
      border: 0.5px solid black;
      font-size: 40px !important;
    }
  }
}

@media screen {
  .early-payment-receipt {
    display: none;
  }
}
