@media print,
screen {
	.installmentsDuePerOfficerCustomerCard {
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		direction: rtl;
		width: 100%;
		margin: auto 2px;
		font-family: Arial, Helvetica, sans-serif;
		-webkit-print-color-adjust: exact;

		.branchDiv {
			width: 100%;

			.CommissaryDiv {
				width: 100%;

				.table {
					width: 100%;
					margin: auto 0;
					border-collapse: collapse;

					th {
						border-top: 1px solid black;
						border-bottom: 1px solid black;
					}

					& tr td,
					& tr th {
						font-size: 0.72rem;
						padding: .25rem;

						&.nowrap {
							white-space: nowrap;
						}

						&.long {
							min-width: 5cm;
							word-break: break-word;
						}

						& .area {
							width: 1.2cm;
							max-width: 1.5cm;

						}

						&.short {
							width: 1cm;
							max-width: 1.25cm;
						}
					}
				}
			}
		}

		.lineStroke {
			height: 2px;
			background: black;
		}
	}
}

@media screen {
	.installmentsDuePerOfficerCustomerCard {
		display: none;
	}
}