@media screen, print {
  .financial-leasing-container {
    -webkit-print-color-adjust: exact;
    page-break-after: always;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    margin: 8px;
    line-height: 2.2rem;
    position: relative;
    .term-container {
      margin: 1em;
    }

    .pagebreak {
      page-break-before: always;
    } /* page-break-after works, as well */

    p {
      padding: 0 !important;
      page-break-inside: avoid;
    }

    ul,
    li {
      padding: 0.5em;
      margin-right: 0.5em;
    }

    .law-title {
      font-size: 1.4rem;
      text-align: center;
      font-weight: bolder;
      page-break-inside: avoid;
      margin-bottom: 0.7rem;
    }

    .rules-container > div::before {
      content: '• ';
    }

    .head-title {
      font-size: 2rem;
      text-align: center;
      font-weight: bolder;
      page-break-inside: avoid;
      margin-bottom: 0.7rem;
    }

    .element-title {
      margin: 1.5rem 0;
      font-size: 18px;
      text-decoration: underline;
      font-weight: bolder;
      margin-bottom: 0.5rem;
    }
  }
  .reposition {
    top: 6mm;
    page-break-after: always;
  }
}

@media screen {
  .financial-leasing-container {
    display: none;
  }
}

@media print {
  .financial-leasing-container {
    footer {
      padding: 1.5rem;
      position: fixed;
      bottom: 0;
    }
  }
}
