@media screen, print {
  .promissory-note-micro {
    page-break-before: always;
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    padding: 3rem 6rem;
    z-index: 1041; // To overlap Modal's backdrop shadow
    position: relative;
    th,
    td {
      border: 1px solid black;
    }
    table {
      border-spacing: 10px;
    }
  }
  .promissory-note-micro-last {
    @extend .promissory-note-micro;
    page-break-after: avoid !important;
  }
}
@media screen {
  .promissory-note-micro {
    max-width: 700px;
    display: none;
  }
  .promissory-note-micro-last {
    max-width: 700px;
    display: none;
  }
}

@media print {
  .modal-backdrop.show {
    opacity: 0 !important;
  }
}
